body {
  margin: 0;
  background: linear-gradient(145deg, #06080d, #0b0f1a);
  color: #d4eaff;
  font-family: "Segoe UI", sans-serif;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #00e1ff55;
  background: #0d152b;
  color: #b7dfff;
}

button {
  background: #00e1ff;
  color: #00121f;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}

button:hover {
  box-shadow: 0 0 12px #00e1ff;
}

h2, h3 {
  font-family: Orbitron, sans-serif;
  letter-spacing: 1px;
}
